*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    
    color: #ededed ;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 65px;
    color: #ededed;
   text-decoration: none;
    font-weight: 600;
   font-family: "Dancing Script",cursive;
 
 

}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
    border-radius: 30%;
}


.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;

}
.navbar a:hover,
.navbar a.activie
{
    color: #00abf0;
}
.home{
    height: 100vh;
    width: 100%;
    background: url('jass.PNG') no-repeat center center;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-section{
 
    max-width: 600;
    position: absolute;
    
}

.home-section h1{
    font-size: 66px;
    font-weight: 700;
    line-height: 1.2 ;

}
.home-section h3{
    font-size: 30px;
    font-weight: 700;
    color: #00abf0;
}
.home-section p{
    margin: 20px 0 40px;
    font-size: 16px;
}
.home-section .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color:#00abf0;
    border-radius: 8px;
    font-size: 19px;
    border: 2px solid #00abf0;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  

}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;

}
.btn-box a:nth-child(2):hover{
    color: #081b29;

}
.btn-box a:nth-child(2)::before{
    background-color: #00abf0;
    

}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
      transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
 
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    

}
.home-sci a:hover{
    color: #081b29;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
        

}
.home-sci a:hover::before{
    width: 100%;
}
.home-imghover{

    position: absolute;
    top: 138px;
    right: 30px;
    width: 710px;
    height: 72%;
    background: transparent;
    transition:3s;
}
.home-imghover:hover{
    background: #081b29;
    opacity: .5;
}
@keyframes showRight{
   100%{
        width: 0;
    }
}






